<div class="dropdown">
  <button class="dropdown__button">
    <!-- Здесь будет отображаться количество выбранных элементов -->
    Выбрано: 3 воронки, 7 этапов
  </button>
  <div class="dropdown__list">
    <div class="dropdown__category">
      <div class="dropdown__category-header">
        <input type="checkbox" />
        Продажи
      </div>
      <div class="dropdown__items">
        <div class="dropdown__item">
          <input type="checkbox" />
          <span style="background-color: #4a90e2;"></span> Неразобранное
        </div>
        <div class="dropdown__item">
          <input type="checkbox" />
          <span style="background-color: #f8e71c;"></span> Переговоры
        </div>
        <div class="dropdown__item">
          <input type="checkbox" />
          <span style="background-color: #f5a623;"></span> Принимают решение
        </div>
        <div class="dropdown__item">
          <input type="checkbox" />
          <span style="background-color: #7ed321;"></span> Успешно
        </div>
      </div>
    </div>
  </div>
</div>
